# Django Settings
SECRET_KEY=django-insecure-gx)hp#ozxmg)a5hh8_**pr#*-qlok^7xowh1m%9$gp@ysu2f$m
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# MongoDB Settings
MONGODB_HOST=mongodb
MONGODB_PORT=27017
MONGODB_USERNAME=admin
MONGODB_PASSWORD=password123
MONGODB_DATABASE=smart_isp_db
